# Python
__pycache__/
*.py[cod]
*.pyo

# Django
*.sqlite3
db.sqlite3
media/

# Virtual environment
venv/
env/
.venv/

# Environment variables
.env
.env.*
!.env.example

# Node
node_modules/
frontend/dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log